.main {
    min-height: 100vh !important;
}

ul {
    list-style-type: none !important;
}

.noStyle {
    list-style-type: none !important;
    text-decoration: none !important;
}

ul li {
    font-size: smaller;
}

h6 {
    font-size: .75rem;
}

.uvLow {
    color: rgb(100, 200, 150) !important;
}

.uvMod {
    color:rgb(180, 210, 20) !important;
}

.uvHigh {
    color:rgb(250, 150, 10) !important;
}

.uvVHi {
    color:rgb(220, 50, 10) !important;
}

.uvExt {
    color:rgb(220, 10, 180) !important;
}